@using Umbraco.Web.Models
@inherits UmbracoViewPage

@{
    var homePage = Model.AncestorOrSelf<Home>();
    var socialLinks = homePage.Value<IEnumerable<IPublishedElement>>("socialLinks");
}

<!-- Footer-->
<script src="https://kit.fontawesome.com/e95f64bfce.js" crossorigin="anonymous">
    <i class="fa-brands fa-umbraco"></i>
        <i class="fa-solid fa-share-nodes"></i>
</script>
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @if (socialLinks != null && socialLinks.Any())
                {
                    <ul class="list-inline text-center">
                        @foreach (var item in socialLinks)
                        {
                            var link = item.Value<Link>("link");
                            var iconClass = item.Value<string>("iconClass");
                            <li class="list-inline-item">
                                <a href="@link.Url" target="@link.Target">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="@iconClass fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                }
                <div class="small text-center text-muted fst-italic">Copyright &copy; @Umbraco.GetDictionaryValue("Footer.CopyrightName")</div>
            </div>
        </div>
    </div>
</footer>